body {
    background: linear-gradient(90deg, #fba96b, #c54b5e);
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px; /* Tamaño del texto */
    font-family: Comic Sans MS; /* Fuente del texto */
}
p {
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
