body {
    background: linear-gradient(90deg, #fba96b, #c54b5e);
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-family: Comic Sans MS; 
}
p {
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

p1 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-family: Comic Sans MS; 
}

.nabos {
    text-align: center;
    width: 400px; /* Ancho deseado */
    height: 300px; /* Altura deseada */
  }