/*fondo*/
  body {
    background: linear-gradient(60deg, #fba96b, #c54b5e);
}

/*fuentes*/
  .notosans{
  font-family: "Noto Sans", serif;
  }

/*imagenes*/
  .nabosimg {
    float: right;
    margin-right: 10px;
    margin-left: 50px;
    max-width: 40%; 
    height: auto;
  }
  .linuximg {
    float: left;
    margin-right: 50px;
    max-width: 30%; 
    height: auto;
  }

/*textos*/
  .just {
    text-align: justify;
    word-spacing: 1px; /* Aumenta el espacio entre las palabras */
  }
  .clicki{
    color: rgb(163, 111, 33);
  }

/*bordes y margenes*/
  .bord {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*border-radius: 30px; */
    padding: 10px; 
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Sombra alrededor del borde */
  }
  .wiwi {
    width: 95%; 
    margin: 0 auto; 
    color: rgb(0, 0, 0);
  }