/*fondo*/
  body {
    /*esto esta de mas explicar que es*/
    background-color: #928989;
    /*Intentos de degradados anteriores*/
    /*#fba96b, #c54b5e*/
    /*#9c5800, #b46c09, #cb7f13, #e3931c, #fba726*/
    /*#913f33, #ff705f, #ffaa67, #ffdfab, #9fb9c2);*/
}

body{
  font-family: "Noto Sans", serif;
}




/*bordes y margenes*/
  .wiwi {
    /*margen*/
    width: 90%; 
    margin: 0 auto; 
  }

  .boton {
    position: relative;
    padding: 10px;
    border: 2px solid black;
    background-color: #f0eeed;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Sombra alrededor del borde */
  }

  .caja {
    position: relative;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Sombra alrededor del borde */
    border: 2px solid black;
    background-color: #f0eeed;

  }
  /* Pseudoelementos para bordes adicionales */
  .caja::before,
  .caja::after {
    content: '';
    position: absolute;
    top: -10px; /* Desplazamiento superior */
    left: -10px; /* Desplazamiento izquierdo */
    width: 100%;
    height: 100%;
    background-color: #d6d6d6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Sombra alrededor del borde */
    border: 2px solid black;
    z-index: -1; /* Ubica los bordes detrás de la caja */
  }
  
/* Estilo base del botón */
button {
  float: right;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 7px;
  max-width: 40%; 
  height: auto;
  position: relative;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); 
  border: 2px solid black;
  background-color: #f0eeed;
}
/* Efecto al pasar el mouse */
button:hover {
  background-color: #7c7c7c; 
  transform: scale(1.05); /* Aumentar ligeramente el tamaño */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}
/* Efecto al hacer clic */
button:active {
  background-color: #707070; 
  transform: scale(0.95); /* Reducir ligeramente el tamaño */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña */
}

.cajasocial {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Sombra alrededor del borde */
  border: 2px solid black;
  background-color: #f0eeed;
}

.emoji {
  font-family: 'Noto Color Emoji', sans-serif;
}

.social {
  float: left; /* Coloca la imagen al lado izquierdo */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}